.ui.menu.navbar {
	border-radius: 0px;
}

a.home {
	font-size:x-large;
	color: #F0F0F0;
}

a.home:hover {
  color: #FFFFFF;
}

.ui.footer.container {
  padding: 2em 0em 1em;
}

.ui.divider.footer{
	margin: 2em 0em 0em;
}