@(list:List[Amc])
<div class="ui container">
  <h2>Mutual Fund Companies</h2>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th>Mutual Fund Company</th>
      </tr>
    </thead>
    <tbody>
      @for(amc <- list){
      <tr><td><a href="@routes.Application.amc(amc.link)">@amc.name</a></td></tr>
      }
    </tbody>
  </table>
</div>
