@()
<div class="ui container">
  @html.showduration()
  <div class="ui grid stackable">
    <div class="sixteen wide column">
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th>
          <h4>
            <a href="@routes.Application.topSchemes">Top Schemes</a>
          </h4>
        </th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>6 Months</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th>3 Years</th>
        <th>5 Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/schemes/birla-sun-life-advantage-fund-regular-growth">Birla Sun Life Advantage Fund - Regular Growth</a></td>
        <td><i class="caret down icon red fitted"></i>1.2</td>
        <td><i class="caret down icon red fitted"></i>1.8</td>
        <td><i class="caret down icon red fitted"></i>1.3</td>
        <td><i class="caret up icon green fitted"></i>5.2</td>
        <td><i class="caret up icon green fitted"></i>33.4</td>
        <td><i class="caret up icon green fitted"></i>22.7</td>
        <td><i class="caret up icon green fitted"></i>11.5</td>
      </tr>
      <tr>
        <td><a href="/schemes/43">Tata Balanced Fund - Regular Plan (G)</a></td>
        <td><i class="rupee icon red fitted"></i>987</td>
        <td><i class="rupee icon red fitted"></i>995</td>
        <td><i class="rupee icon red fitted"></i>990</td>
        <td><i class="rupee icon green fitted"></i>1020</td>
        <td><i class="rupee icon green fitted"></i>1200</td>
        <td><i class="rupee icon green fitted"></i>1800</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="ui right aligned">
            <a class="ui mini teal button" href="@routes.Application.topSchemes">More</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  
    </div>
    <div class="eight wide column">
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="@routes.Application.schemeTypes">Scheme Types</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><a href="@routes.Application.schemeType("hdfc-mutual-fund")">Open Ended Schemes -  Balanced</a></td></tr>
      <tr><td><a href="@routes.Application.schemeType("hdfc-mutual-fund")">Open Ended Schemes -  Income</a></td></tr>
      <tr><td><a href="@routes.Application.schemeType("hdfc-mutual-fund")">Open Ended Schemes -  Growth</a></td></tr>
      <tr><td><a href="@routes.Application.schemeType("hdfc-mutual-fund")">Close Ended Schemes -  Growth</a></td></tr>
      <tr><td><a href="@routes.Application.schemeType("hdfc-mutual-fund")">Interval Fund Schemes -  Income</a></td></tr>
       <tr>
        <td>
          <div class="ui right aligned">
            <a class="ui mini teal button" href="@routes.Application.schemeTypes">More</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>  
    </div>
    <div class="eight wide column">
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="@routes.Application.amcs">Mutual Fund Companies</a></th>
      </tr>
    </thead>
    <tbody>
      <tr><td><a href="@routes.Application.amc("hdfc-mutual-fund")">HDFC Mutual Fund</a></td></tr>
      <tr><td><a href="@routes.Application.amc("3543453")">ICICI Prudential Mutual Fund</a></td></tr>
      <tr><td><a href="@routes.Application.amc("3543453")">SBI Mutual Fund</a></td></tr>
      <tr><td><a href="@routes.Application.amc("3543453")">Tata Mutual Fund</a></td></tr>
      <tr><td><a href="@routes.Application.amc("3543453")">UTI Mutual Fund</a></td></tr>
      <tr>
        <td>
          <div class="ui right aligned">
            <a class="ui mini teal button" href="@routes.Application.amcs">More</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>