@(message: Option[String]=None)
<div class="ui container">
<div class="ui grid stackable">
<div class="twelve wide column">
<h2>Birla Sun Life Advantage Fund - Regular Growth <br/> <small><a href="#">Birla Sun Life Mutual Fund</a></small></h2>
</div>
<div class="four wide column right aligned">
<h2><i class="rupee icon fitted"></i>288.9705</h2>
<small>NAV as on 27-Nov-2015</small>
</div>

</div>
<div class="ui divider"></div>
<div class="ui two column grid stackable">
    <div class="row">
      <div class="column">
        <h3>Summary</h3>
      </div>
      <div class="column right floated right aligned">
        <div class="ui buttons tiny">
          <button class="ui button"><i class="rupee icon"></i>1000 <small>then</small></button>
          <button class="ui button teal">% <small>percentage</small></button>
          <button class="ui button"><i class="rupee icon"></i>1000 <small>now</small></button>
        </div>  
      </div>
    </div>
  </div>
<div class="ui four column grid stackable">
  <div class="column">
    <div class="ui card teal">
      <div class="content">
        <i class="rupee icon fitted"></i>300.7865
        <div class="right floated meta">Oct 27, 2015</div>
      </div>
      <div class="content">
        <div class="ui statistic small">
          <div class="value"><i class="caret down icon red"></i> 1.2</div>
          <div class="label">1 Month</div>
       </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card teal">
      <div class="content">
        <i class="rupee icon fitted"></i>300.7865
        <div class="right floated meta">Aug 27, 2015</div>
      </div>
      <div class="content">
        <div class="ui statistic small">
          <div class="value"><i class="caret up icon red"></i> 2.6</div>
          <div class="label">3 Months</div>
       </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card teal">
      <div class="content">
        <i class="rupee icon fitted"></i>234.7865
        <div class="right floated meta">May 27, 2015</div>
      </div>
      <div class="content">
        <div class="ui statistic small">
          <div class="value"><i class="rupee icon green"></i> 1300</div>
          <div class="label">6 Months</div>
       </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui card teal">
      <div class="content">
        <i class="rupee icon fitted"></i>250.7865
        <div class="right floated meta">Nov 27, 2014</div>
      </div>
      <div class="content">
        <div class="ui statistic small">
          <div class="value"><i class="rupee icon red"></i> 800</div>
          <div class="label">1 Year</div>
       </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <div class="ui statistic small">
          <div class="value"><i class="caret up icon green"></i> 33.4</div>
          <div class="label">2 Years</div>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <div class="ui statistic small">
          <div class="value"><i class="caret up icon green"></i> 22.7</div>
          <div class="label">3 Years</div>
        </div>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
        <div class="ui statistic small">
          <div class="value"><i class="caret up icon green"></i> 11.5</div>
          <div class="label">5 Years</div>
        </div>
    </div>
  </div>
</div>
</div>
