@(list: List[SchemeType])
<div class="ui container">
  <h2>Scheme Types</h2>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th>Scheme Type</th>
      </tr>
    </thead>
    <tbody>
      <tr><td><a href="/scheme-types/open-ended-schemes-balanced">Open Ended Schemes - Balanced</a></td></tr>
    </tbody>
  </table>
</div>
