@(message: Option[String]=None)
<div class="ui container">
	<div class="ui two column grid stackable">
	  <div class="row">
	    <div class="column left floated left aligned">
			  <div class="ui tiny buttons">
				  <button class="ui left labeled button" tabindex="0">1m</button>
				  <button class="ui button">3m</button>
				  <button class="ui button">6m</button>
				  <button class="ui button">1y</button>
				  <button class="ui button teal">2y</button>
				  <button class="ui button">3y</button>
				  <button class="ui button">5y</button>
			  </div>
	    </div>
	    <div class="column right floated right aligned">
			  <div class="ui buttons tiny">
			    <button class="ui button"><i class="rupee icon"></i>1000 <small>then</small></button>
			    <button class="ui button teal">% <small>percentage</small></button>
			    <button class="ui button"><i class="rupee icon"></i>1000 <small>now</small></button>
			  </div>  
	    </div>
	  </div>
	</div>
<h2>Open Ended Schemes - balanced</h2>
<h3>Top Schemes</h3>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="/schemes/open-ended-schemes-balanced">Open Ended Schemes - Balanced</a></th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>6 Months</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th>3 Years</th>
        <th>5 Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/schemes/birla-sun-life-advantage-fund-regular-growth">Birla Sun Life Advantage Fund - Regular Growth</a></td>
        <td><i class="caret down icon red fitted"></i>1.2</td>
        <td><i class="caret down icon red fitted"></i>1.8</td>
        <td><i class="caret down icon red fitted"></i>1.3</td>
        <td><i class="caret up icon green fitted"></i>5.2</td>
        <td><i class="caret up icon green fitted"></i>33.4</td>
        <td><i class="caret up icon green fitted"></i>22.7</td>
        <td><i class="caret up icon green fitted"></i>11.5</td>
      </tr>
      <tr>
        <td><a href="/schemes/43">Tata Balanced Fund - Regular Plan (G)</a></td>
        <td><i class="rupee icon red fitted"></i>987</td>
        <td><i class="rupee icon red fitted"></i>995</td>
        <td><i class="rupee icon red fitted"></i>990</td>
        <td><i class="rupee icon green fitted"></i>1020</td>
        <td><i class="rupee icon green fitted"></i>1200</td>
        <td><i class="rupee icon green fitted"></i>1800</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="/schemes/open-ended-schemes-balanced">Open Ended Schemes - Balanced</a></th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>6 Months</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th>3 Years</th>
        <th>5 Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/schemes/43">Birla Sun Life Advantage Fund - Regular Growth</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 1.8</td>
        <td><i class="caret down icon red"></i> 1.3</td>
        <td><i class="caret up icon green"></i> 5.2</td>
        <td><i class="caret up icon green"></i> 33.4</td>
        <td><i class="caret up icon green"></i> 22.7</td>
        <td><i class="caret up icon green"></i> 11.5</td>
      </tr>
      <tr>
        <td><a href="/schemes/43">Tata Balanced Fund - Regular Plan (G)</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 0.7</td>
        <td><i class="caret down icon red"></i> 1.0</td>
        <td><i class="caret up icon green"></i> 7.3</td>
        <td><i class="caret up icon green"></i> 29.0</td>
        <td><i class="caret up icon green"></i> 19.9</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="/schemes/open-ended-schemes-balanced">Open Ended Schemes - Balanced</a></th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>6 Months</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th>3 Years</th>
        <th>5 Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/schemes/43">Birla Sun Life Advantage Fund - Regular Growth</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 1.8</td>
        <td><i class="caret down icon red"></i> 1.3</td>
        <td><i class="caret up icon green"></i> 5.2</td>
        <td><i class="caret up icon green"></i> 33.4</td>
        <td><i class="caret up icon green"></i> 22.7</td>
        <td><i class="caret up icon green"></i> 11.5</td>
      </tr>
      <tr>
        <td><a href="/schemes/43">Tata Balanced Fund - Regular Plan (G)</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 0.7</td>
        <td><i class="caret down icon red"></i> 1.0</td>
        <td><i class="caret up icon green"></i> 7.3</td>
        <td><i class="caret up icon green"></i> 29.0</td>
        <td><i class="caret up icon green"></i> 19.9</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="ui teal table selectable">
    <thead>
      <tr>
        <th><a href="/schemes/open-ended-schemes-balanced">Open Ended Schemes - Balanced</a></th>
        <th>1 Month</th>
        <th>3 Months</th>
        <th>6 Months</th>
        <th>1 Year</th>
        <th>2 Years</th>
        <th>3 Years</th>
        <th>5 Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/schemes/43">Birla Sun Life Advantage Fund - Regular Growth</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 1.8</td>
        <td><i class="caret down icon red"></i> 1.3</td>
        <td><i class="caret up icon green"></i> 5.2</td>
        <td><i class="caret up icon green"></i> 33.4</td>
        <td><i class="caret up icon green"></i> 22.7</td>
        <td><i class="caret up icon green"></i> 11.5</td>
      </tr>
      <tr>
        <td><a href="/schemes/43">Tata Balanced Fund - Regular Plan (G)</a></td>
        <td><i class="caret down icon red"></i> 1.2</td>
        <td><i class="caret down icon red"></i> 0.7</td>
        <td><i class="caret down icon red"></i> 1.0</td>
        <td><i class="caret up icon green"></i> 7.3</td>
        <td><i class="caret up icon green"></i> 29.0</td>
        <td><i class="caret up icon green"></i> 19.9</td>
        <td></td>
      </tr>
    </tbody>
  </table>


</div>
