@(activeMenu:String,tables:List[Table])
<div class="ui container">
  <h2>Top Schemes</h2>
  <div class="ui three item teal menu">
    <a class="@if("overall".equals(activeMenu)){active }item" href="@routes.Application.topSchemes">Overall</a>
    <a class="@if("type".equals(activeMenu)){active }item" href="@routes.Application.topSchemesByType">Scheme Types</a>
    <a class="@if("amc".equals(activeMenu)){active }item" href="@routes.Application.topSchemesByAmc">Mutual Fund Companies</a>
  </div>
	@html.showduration()
	@for(table<-tables){@html.tablelayout(table)}
</div>
