@()
<div class="ui two column grid stackable">
	<div class="row">
	  <div class="column left floated left aligned">
	    <div class="ui buttons tiny">
	      <button class="ui button"><i class="rupee icon"></i>1000 <small>then</small></button>
	      <button class="ui button teal">% <small>percentage</small></button>
	      <button class="ui button"><i class="rupee icon"></i>1000 <small>now</small></button>
	    </div>
	  </div>
	  <div class="column right floated right aligned">
	    <div class="ui tiny buttons">
	      <button class="ui button">1m</button>
	      <button class="ui button">3m</button>
	      <button class="ui button">6m</button>
	      <button class="ui button">1y</button>
	      <button class="ui button teal">2y</button>
	      <button class="ui button">3y</button>
	      <button class="ui button">5y</button>
	    </div>
	  </div>
	</div>
</div>