@(table:Table)
<table class="ui teal table selectable">
  <thead>
    <tr>
      <th><a href="@table.link.href">@table.link.text</a></th>
      <th>1 Month</th>
      <th>3 Months</th>
      <th>6 Months</th>
      <th>1 Year</th>
      <th>2 Years</th>
      <th>3 Years</th>
      <th>5 Years</th>
    </tr>
  </thead>
  <tbody>
    @for(schemePerformance <- table.schemePerformances){<tr>
      <td><a href="@schemePerformance.link.href">@schemePerformance.link.text</a></td>
      <td><i class="@schemePerformance.oneMonth.icon fitted icon"></i>@schemePerformance.oneMonth.text</td>
      <td>@for(performance <- schemePerformance.threeMonths){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
      <td>@for(performance <- schemePerformance.sixMonths){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
      <td>@for(performance <- schemePerformance.oneYear){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
      <td>@for(performance <- schemePerformance.twoYears){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
      <td>@for(performance <- schemePerformance.threeYears){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
      <td>@for(performance <- schemePerformance.fiveYears){<i class="@performance.icon fitted icon"></i>@performance.text}</td>
    </tr>}
  </tbody>
</table>